/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.mdl-layout__header {
  background-color: rgba(218, 85, 75, 0.81);
}

body {
  background-color: #fdf9f3;
}

.feedback-body {
  height: 200px;
  overflow: scroll;
}

.nav-cat-logo {
  max-height: 80%;
}

.nav-title {
  margin-left: 30px;
}

.demo-card-wide.mdl-card {
  width: 512px;
  margin: auto;
  margin-top: 10%;
}
.demo-card-wide > .mdl-card__title {
  height: 176px;
  background: url('') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.demo-card-square-main.mdl-card {
  width: 500px;
  height: 140px;
  margin: auto;
  margin-top: 5%;
}

.demo-card-square-main > .mdl-card__title {
  color: #fff;
  background: url('') bottom right 15% no-repeat rgba(54, 154, 204, 0.97);
}

.demo-card-square.mdl-card {
  width: 340px;
  height: 340px;
  margin: 2%;
  float: left;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background: url('') bottom right 15% no-repeat #46B6AC;
}

.feedback-avatar {
  max-width: 15%;
}

.flash {
  max-width: 100%;
  text-align: center;
}

.error {
  background-color: rgba(241, 15, 15, 0.6);
  height: 50px;
}

.notice {
  background-color: rgba(102, 228, 102, 0.62);
  height: 50px;
}

.danger {
  background-color: rgba(255, 255, 52, 0.55);
  height: 50px
}
